<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tambah Dosen</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<h3>Tambah Dosen</h3>
    <a href="/dosen">Kembali</a><br><br>
    <form action="/dosen/store" method="POST">
        <label for="nidn">NIDN:</label><br>
        <input type="text" id="nidn" name="nidn" required><br>
        <label for="nama">NAMA:</label><br>
        <input type="text" id="nama" name="nama" required><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>